wheel
asciitree
bcrypt
colorama
cryptography>=38.0.3
paramiko
paramiko_expect
prompt_toolkit
protobuf>=3.19.0
pycryptodomex
pykeepass
pyperclip
pysocks
pytest
requests==2.28.1
tabulate
keeper-secrets-manager-core>=16.2.0