name: Test with pytest

on: [pull_request, workflow_dispatch]

env:
  PYTHONUNBUFFERED: 1

jobs:
  test-with-pytest:
    strategy:
      matrix:
        python-version: ['3.6', '3.11']

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package with test dependencies
        run: pip install .[test]

      - name: Run unit tests
        run: pytest unit-tests/
